<header>
    <nav class="nav">
        <div class="nav_title" > 
            <h3><a href="./index.cgi">blackbox</a></h3>
        </div>
        <ul class="nav_list">
            <!-- @iflogged -->
            <a href="./cart.cgi">
                <li class="nav_item">Cart</li>
            </a>
            <a href="./products.cgi">
                <li class="nav_item">Products</li>
            </a>
            <a href="./questions.cgi">
                <li class="nav_item">Questions</li>
            </a>   
        </ul>
        <div class="options">
            <!-- @ifnlogged -->
            <a href="./login.cgi">
                <button class="navbutton">Login</button>
            </a>
            <!-- @ifnlogged -->
            <a href="./register.cgi">
                <button class="navbutton">Register</button>
            </a>

            <!-- @iflogged -->
            <form method="get">
                <input type="submit" class="navbutton" value="Logout" name="logout" />
            </form>
        </div> 
    </nav>  
    <div class="subheader">
        <h1>$(subtitle)</h1>
    </div>
</header>

