.table{
    min-width: 100px;
    width: 100%;
    background-color: #eee;
    margin-bottom: 1rem;
    border-collapse: collapse;
    border-radius: 10px;
}

.table thead.thead-primary {
    background: #1d2951;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    color: #eee;
}

td {
    display: table-cell;
    color: #111;
}