body {
    font-family: Arial;
}

.logo {
    height: 100px;
}

.logo img {
    height: 100%;
    width: auto;
}
header {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 40px;
    text-align: left;
    background: #111111;
    color: #EEEEEE;
    display: flex;
}

.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
    list-style: none;
	top: 0;
}

.nav_title {
    margin: 0px 30px;
}

.nav_list{
    float: right;
}

.nav_item{
    display: inline;
    margin: 0px 30px;
}
.options {
    align-items: flex-end;
}
.button {
    border-radius: 12px;
    border: 2px solid #EEEEEE;
    color: #EEEEEE;
    background-color: #111111;
    width: 100px;
    height: 40px;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: #404048;
    color: #EEEEEE;
}
.subheader{
    background-color: #404048;
    opacity: 1;
    text-align: initial;
    color: #EEEEEE;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
}

.content {
    justify-content: center;
    margin: auto;
    width: 70%;
    padding: 10px;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    padding: 70px;
    text-align: center;
    background: #111111;
    color: #EEEEEE;
}

.layout {  
    display: grid;
    grid-template-rows: 30%;
    grid-template-columns: 30% 50%;
    gap: 8px;  
}


input[type=text],textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #C4C4C4;
}

input[type=submit]{
    border-radius: 12px;
    border: 2px solid #111111;;
    color: #111111;
    background-color: #EEEEEE;
    width: 100px;
    height: 40px;
    transition-duration: 0.4s;

}

a{
    text-decoration:none;
    color: #EEEEEE;
}

  